In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("medical_examination.csv")

In [4]:
df.head(15)

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
5,8,21914,1,151,67.0,120,80,2,2,0,0,0,0
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1
8,13,17668,1,158,71.0,110,70,1,1,0,0,1,0
9,14,19834,1,164,68.0,110,60,1,1,0,0,0,0
10,15,22530,1,169,80.0,120,80,1,1,0,0,1,0
11,16,18815,2,173,60.0,120,80,1,1,0,0,1,0
12,18,14791,2,165,60.0,120,80,1,1,0,0,0,0
13,21,19809,1,158,78.0,110,70,1,1,0,0,1,0
14,23,14532,2,181,95.0,130,90,1,1,1,1,1,0