In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("adult.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [4]:
race_count = df["race"].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

What is the average age of men?

In [5]:
average_age_men = df[df["sex"] == "Male"][["age"]].mean().round(1)
average_age_men

age    39.4
dtype: float64

What is the percentage of people who have a Bachelor's degree?

In [6]:
percentage_bachelors = round(df[df["education"] == "Bachelors"].shape[0] / df.shape[0] * 100, 1)
print(percentage_bachelors)

16.4

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [7]:
# Creating a new dataframe containing only the people with advanced education
filt = (df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate")
df1 = df[filt]

# Percentage of people with advanced education
higher_education = round(df1.shape[0] / df.shape[0] * 100, 1)
print(higher_education)

# Percentage of people with advanced education that make over 50K
higher_education_rich = round(df1[df1["salary"] == ">50K"].shape[0] / df1.shape[0] * 100, 1)
print(higher_education_rich)

23.0
46.5

What percentage of people without advanced education make more than 50K?

In [8]:
# Creating a new dataframe containing only the people without advanced education
df2 = df[~filt]

# Percentage of people without advanced education
lower_education = round(df2.shape[0] / df.shape[0] * 100, 1)
print(lower_education)

# Percentage of people without advanced education that make over 50K
lower_education_rich = round(df2[df2["salary"] == ">50K"].shape[0] / df2.shape[0] * 100, 1)
print(lower_education_rich)

77.0
17.4

What is the minimum number of hours a person works per week?

In [9]:
min_work_hours = df["hours-per-week"].min()
print(min_work_hours)

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [10]:
# Number of people who work the minimum number of hours per week and make more than 50K
num_min_workers = df[(df["hours-per-week"] == 1) & (df["salary"] == ">50K")].shape[0]
print(num_min_workers)

#Percentage of people who make over 50K from those that work the minimum number of hours per week
rich_percentage = num_min_workers / df[df["hours-per-week"] == 1].shape[0] * 100
print(rich_percentage)

2
10.0

What country has the highest percentage of people that earn >50K and what is that percentage?

In [11]:
# Number of people from each country
population = df["native-country"].value_counts()

# Number of people who make over 50K from each country
over_50K = df.groupby(["native-country"])["salary"].apply(lambda x: x.str.contains(">50K").sum())

# Creating new dataframe with the previous two values
df3 = pd.concat([population, over_50K], axis="columns")
df3.rename(columns={"native-country": "Population", "salary": "Over_50K"}, inplace=True)

# Calculating the percentage
df3["Percentage"] = round(((df3["Over_50K"] / df3["Population"]) * 100), 1)

highest_earning_country = df3[df3["Percentage"] == df3["Percentage"].max()].index.values.astype(str)[0]
highest_earning_country_percentage = df3["Percentage"].max()
print(highest_earning_country)
print(highest_earning_country_percentage)

Iran
41.9

Identify the most popular occupation for those who earn >50K in India.

In [12]:
filt = (df["native-country"] == "India") & (df["salary"] == ">50K")

# Number of people who make more than 50K for each job
professions = df[filt]["occupation"].value_counts()

job = professions[professions == professions.max()].index.values.astype(str)[0]
print(job)

Prof-specialty